<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiremi</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="hero">
        <div  class="logo"><img src="../static/images/icon.png" alt="Hiremi Icon">
            <p>Admin Login</p>
        </div>
       <div class="formCont">
        <form>
            <label for="username" >Username</label>
            <div class="inputWrap">
                <img src="../static/images/user.png">
                <input type="text" id="username" placeholder="Type your username">
            </div>
            <img src="../static/images/Line.png">
            <label for="password">Password</label>
            <div class="inputWrap">
                <img src="../static/images/padlock.png">
                <input type="password" id="password" placeholder="Type your Password">
            </div>
            <img src="../static/images/Line.png">
            <input type="submit" value="Login" class="btn">
        </form>
       </div>
</body>
</html>