<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hiremi</title>
  <link rel="stylesheet" href="../static/dashboard.css">
</head>

<body>
  <div class="menu-hero">
    <div class="logo">
      <img src="../static/images/icon.png" alt="">
      <h3>Super Admin</h3>
    </div>
    <div class="menu">
     <a href="#" style="background-color: rgba(255, 255, 255, 0.5);border-left: #fff 3px solid;"> <div class="option" ><img src="../static/images/home.png" alt="">Dashboard</div></a>
     <a href="#"> <div class="option"><img src="../static/images/analytics.png" alt="">Analytics</div></a>
     <a href="#"> <div class="option"><img src="../static/images/downloadPhone.png" alt="">App Download Status</div></a>
     <a href="#"> <div class="option"><img src="../static/images/hat.png" alt="">Mentorship</div></a>
     <a href="#"> <div class="option"><img src="../static/images/internTraining.png" alt="">Internship</div></a>
     <a href="#"> <div class="option"><img src="../static/images/office-worker.png" alt="">Fresher</div></a>
     <a href="#"> <div class="option"><img src="../static/images/suitecase.png" alt="">Experience</div></a>
     <a href="#"> <div class="option"><img src="../static/images/training.png" alt="">Corporate Training</div></a>
     <a href="#"> <div class="option"><img src="../static/images/online-learning.png" alt="">Courses</div></a>
     <a href="#"> <div class="option"><img src="../static/images/tasks.png" alt="">Project Report</div></a>
     <a href="#"> <div class="option"><img src="../static/images/account.png" alt="">Admin Settings</div></a>
     <a href="../templates/login.html"> <div class="option"><img src="../static/images/logout.png" alt="">Logout</div></a>
    </div>
  </div>
  <div class="dashboard" style="padding-top: 10vh;">