<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hiremi</title>
  <link rel="stylesheet" href="../static/dashboard.css">
  <link rel="stylesheet" href="../static/profile.css">
</head>

<body>
  <div class="menu-hero">
    <div class="logo">
      <img src="../static/images/icon.png" alt="">
      <h3>Super Admin</h3>
    </div>
    <div class="menu">
     <a href="#"> <div class="option" ><img src="../static/images/home.png" alt="">Dashboard</div></a>
     <a href="#"> <div class="option"><img src="../static/images/analytics.png" alt="">Analytics</div></a>
     <a href="#"> <div class="option"><img src="../static/images/downloadPhone.png" alt="">App Download Status</div></a>
     <a href="#"> <div class="option"><img src="../static/images/hat.png" alt="">Mentorship</div></a>
     <a href="#"> <div class="option"><img src="../static/images/internTraining.png" alt="">Internship</div></a>
     <a href="#"> <div class="option"><img src="../static/images/office-worker.png" alt="">Fresher</div></a>
     <a href="#"> <div class="option"><img src="../static/images/suitecase.png" alt="">Experience</div></a>
     <a href="#"> <div class="option"><img src="../static/images/training.png" alt="">Corporate Training</div></a>
     <a href="#"> <div class="option"><img src="../static/images/online-learning.png" alt="">Courses</div></a>
     <a href="#"> <div class="option"><img src="../static/images/tasks.png" alt="">Project Report</div></a>
     <a href="#"> <div class="option"><img src="../static/images/account.png" alt="">Admin Settings</div></a>
     <a href="../templates/login.html"> <div class="option"><img src="../static/images/logout.png" alt="">Logout</div></a>
    </div>
  </div>
  <div class="dashboard" style="padding-top: 5vh;">
   <a href="#"><div class="backButton"><img src="../static/images/arrowleft.png" alt=""></div></a>
   <div class="profile-hero">
      <div class="profile">
        <h1>Profile</h1>
        <a href="#"> <div class="edit"><img src="../static/images/editing 1.png" alt="">&nbsp;&nbsp;Edit</div></a>
        <div class="row">
        <div class="user-info">
          <p><span class="question">Name : </span> &nbsp;&nbsp;&nbsp;<span class="answer"> Rishu</span></p>
          <p><span class="question">Date of birth : </span>&nbsp;&nbsp;&nbsp; <span class="answer"> 3-Aug-2003</span></p>
          <p><span class="question">Gender : </span>&nbsp;&nbsp;&nbsp; <span class="answer"> Male</span></p>
          <p><span class="question">Applied Date : </span>&nbsp;&nbsp;&nbsp; <span class="answer"> 14-May-2024</span></p>
          <p><span class="question">Status : </span> &nbsp;&nbsp;&nbsp;<span class="oval pending"> Pending</span><input type="button" value="Accept" class="oval accept"> <input type="button" value="Reject" class="oval reject"> </p>
        </div>
        <div class="pfp">
          <img src="../static/images/profile.png" alt="">
          <p class="question">UTR No.</p>
          <p class="answer">3209092243</p>
        </div>
      </div>
      </div>
      <div class="contact">
        <h1>Contact</h1>
        <div class="user-info">
          <p class="question">E-Mail:</p>
          <p class="answer">hiremi@gmail.com</p>
          <p class="question">Phone Number:</p>
          <p class="answer">81022******</p>
          <p class="question">WhatsApp Number:</p>
          <p class="answer">81022******</p>
    </div>
   </div>
   <div class="personal-info">
    <h1>Personal Information</h1>
    <div class="user-info">
      <p class="question">Father’s Name:</p>
      <p class="answer">Name</p>
      <p class="question">Birth Place:</p>
      <p class="answer">E.g. Madhya Pradesh &nbsp;&nbsp;&nbsp; Bhopal</p>
   </div>
  </div>
  <div class="clg-info">
    <h1>College Information</h1>
    <div>
      <div class="user-info">
        <div class="question-container">
          <p class="question">College Name:</p>
          <p class="question">Branch:</p>
        </div>
        <div class="question-container">
          <p class="answer">Name</p>
          <p class="answer">E.g. IT</p>
        </div>
        <div class="question-container">
          <p class="question">College State:</p>
          <p class="question">Passing Year:</p>
        </div>
        <div class="question-container">
          <p class="answer">E.g. Madhya Pradesh</p>
          <p class="answer">E.g. 2025</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ver-info">
    <h1>Verify Information</h1>
    <div class="user-info">
      <p class="question">College ID/ UAN No.:</p>
      <p class="answer">0111it211****</p>
      <p class="question">Describe Your Experience:</p>
      <p class="answer" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur. Neque velit neque ultrices arcu sagittis amet morbi. Sollicitudin neque nisl est faucibus tempor. Feugiat commodo rutrum at faucibus ut consectetur id. Eget in sit porttitor nulla eget sit blandit ultrices non. Aliquam elit ut id mauris faucibus mi pellentesque faucibus a. Duis proin aliquam dui faucibus tortor elementum lacus. Faucibus gravida vestibulum vulputate euismod diam. Mi quis in amet nunc facilisis blandit nulla eu. Enim neque ac phasellus nec elit ornare enim pulvinar. Lorem non ornare amet turpis nisi. Bibendum id vel egestas dui. Nec aliquam sed morbi massa.</p>
    </div>
  </div>
  <div class="ver-detail">
    <h1>Verify Details</h1>
      <div class="user-info">
        <p class="question">Interested Domain:</p>
        <p class="answer">E.g. Software Developer</p>
        <p class="question">Key Skills:</p>
        <p class="answer">E.g. UI/UX</p>
        <p class="question">Communication Rate</p>
        <p class="rating"><span class="rectangle active">1</span><span class="rectangle active">2</span><span class="rectangle active">3</span><span class="rectangle">4</span><span class="rectangle">5</span></p>
    </div>
  </div>
  <div class="com-review">
    <h1>company Review</h1>
    <div class="user-info">
      <p class="question">Experience review :  </p>
      <p class="answer" style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur. Neque velit neque ultrices arcu sagittis amet morbi. Sollicitudin neque nisl est faucibus tempor. Feugiat commodo rutrum at faucibus ut consectetur id. Eget in sit porttitor nulla eget sit blandit ultrices non. Aliquam elit ut id mauris faucibus mi pellentesque faucibus a. Duis proin aliquam dui faucibus tortor elementum lacus. Faucibus gravida vestibulum vulputate euismod diam. Mi quis in amet nunc facilisis blandit nulla eu. Enim neque ac phasellus nec elit ornare enim pulvinar. Lorem non ornare amet turpis nisi. Bibendum id vel egestas  dui. Nec aliquam sed morbi massa.</p>
    </div>
  </div>
  </div>
  </div>
</body>
</html>